/*Set the row height to the viewport*/
  .card-columns {
    @include media-breakpoint-only(xs) {
      column-count: 2;
    }
    @include media-breakpoint-only(sm) {
      column-count: 4;
    }
    @include media-breakpoint-only(md) {
      column-count: 6;
    }
    @include media-breakpoint-only(lg) {
      column-count: 7;
    }
    @include media-breakpoint-only(xl) {
      column-count: 8;
    }
  }
  .row-height{
    height: 100vh;
  }
  
  /*Set up the columns with a 100% height, body color and overflow scroll*/
  
  .left{
    // background-color: red;
    height: 100%;
    overflow-y: scroll;
  }
  
  .right{
    // background-color: blue;
    height: 100%;
    overflow-y: scroll;
  }
  
  .mid{
    //background-color: green;
    height: 100%;
    overflow-y: scroll;
  }
  
  figure.image img{
    width: 100%;
  }

  figure.image-style-side {
    float: right;
    width: 50%;
    padding: 1rem 0 1rem 1rem;
  }

  figure.image.image-style-align-right {
    float: right;
    width: 50%;
  }
  figure.image.image-style-align-left {
    float: left;
    width: 50%;
    padding: 1rem 1rem 1rem 0;
  }

  /*Remove the scrollbar from Chrome, Safari, Edge and IE*/
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
  
  * {
    -ms-overflow-style: none !important;
  }
  
  @media (max-width: 700px) {
    .row-height{
      height: auto;
    }
    .left{
      overflow-y: hidden;
    }
    
    .right{
      overflow-y: hidden;
    }
    
    .mid{
      //background-color: green;
      height: auto;
      
    }
  }